.button{
    display: flex;
    justify-content: center;
    gap: 45px;
    font-size: 14px;
    padding: 40px 0;
    &__review{
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        &--number{
            color: #23856D;
        }
    }
}

.product{
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    &__middle{
        display: flex;
        flex-direction: column;
        width: 350px;
        h3{
            font-size: 22px;
        }
        &--info{
            padding: 25px 0;
            font-size: 14px;
        }
    }
    &__last{
        font-size: 14px;
        &--img{
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            img{
                cursor: pointer;
            }
            p{
                font-size: 14px;
                padding: 5px 0;
            }
        }
        &--name{
            padding-bottom: 25px;
            font-size: 22px;
        }
        &--middle{
            padding: 40px 0;
            font-size: 22px;
        }
    }
}